<ion-header>
  <ion-toolbar >
    <ion-title slot="start" >{{title}}</ion-title>
    <ion-button (click)="closeModal()" color="danger" slot="end">
      <ion-icon  end name="close-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main">
    <div class="bordertitle ion-text-center">
      <h3>Detail</h3>
    </div>
    <div class="container ion-text-center">
      <ion-textarea>
        {{detail}}
      </ion-textarea>
    </div>
  </div>
  <div *ngIf="images.length > 0" class="main">
    <div class="bordertitle ion-text-center">
      <h3>Gallery </h3>
    </div>
    <div  class="gallary">
      <div class="row" >
        <div *ngFor="let image of images; let i=index" class="col-lg-3 col-md-4 col-sm-3 col-xs-2 thumb">
          <img class="thumbnail img-thumbnail" [src]="image.thumb" (click)="open(i)" />
        </div>
      </div>
    </div>
  </div>
  
</ion-content>
