<nav class="navbar navbar-expand-lg navbar-light ">
  <div class="container main">
    <a class="navbar-brand" href="#">
          <img width="200px" height="100px" [src]="logo" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" >
          <a class="nav-link" routerLinkActive="active" routerLink="/home" href="#" >หน้าแรก</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/about" href="#">เกี่ยวกับเรา</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/works" href="#">ผลงาน</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/service" href="#">บริการ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ติดต่อ</a>
        </li>
      </ul>
    </div>
  </div>
</nav>