.title{
    border-top: 5px;
    border-top-style: groove;
    border-bottom: 5px;
    border-bottom-style: groove;
    margin: 10px;
}

.main{
    margin: 10px;
}

@media only screen and (min-width: 768px) {
    .imageone {
        position: absolute;
        margin-bottom: 150px;
    }
    
    .imagetwo {
        margin-top: 200px;
        margin-left: 250px;
    }
}
