

<ion-content>
  <app-header></app-header>
  <div>
    <div class="title ion-text-center">
      <h3>เกี่ยวกับเรา</h3>
    </div>
    <div class="main row">
      <div class="imagegroup col-sm-12 col-md-12 col-xl-6 text-center">
        <img class="imageone" slot="start" [src]="imageone">
        <img class="imagetwo" slot="end" [src]="imagetwo">
      </div>
      <div class="detail col-sm-12 col-md-12 col-xl-6">
        <ion-textarea>
          {{ detail }}
        </ion-textarea>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>