<ion-content>
  <app-header></app-header>
  <div class="contact container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <h4>
          <strong>
            <p>
              ที่อยู่: 178/1 หมู่ที่ 1
            </p>
            <p>
              ตำบล ปงแสนทอง
            </p>
            <p>
              อำเภอเมือง เมืองลำปาง จังหวัดลำปาง 52000
            </p>
            <p>
              เบอร์โทรศัพท์ 096-697-9449
            </p>
            <p>
              อีเมล์: piyatida-j@hotmail.com 
            </p>
          </strong>
        </h4>
      </div>
      <div class="col-lg-6 col-sm-12">
        <a href="https://www.facebook.com/PBD-Supply-105617124490051/" target="_blank">
          <img width="50px" height="50px" src="assets/icon/facebook.png">
        </a>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>
