

<ion-content>
  <app-header></app-header>
  <div>
    <div class="home">
      <div class="row">
        <div class="parallax col-lg-12 col-md-12" [ngStyle]="{'background-image': 'url(https://firebasestorage.googleapis.com/v0/b/pbd-supply.appspot.com/o/home%2Ffate-stay-night-unlimited-blade-works-episode-19-21.jpg?alt=media&token=c301f346-3971-403e-ae2c-1f69a2a21bb2)'}">
          <div class="mainone ion-text-center">
            <h1>
              <strong>
                PBD Supply Company Limited
              </strong>
            </h1>
            <h4>
              ประโยคอะไรก็ได้
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="parallax col-lg-12 col-md-12" [ngStyle]="{'background-image': 'url(https://firebasestorage.googleapis.com/v0/b/pbd-supply.appspot.com/o/works%2F96504295_266821237788014_3682693349740904448_n.jpg?alt=media&token=9f5af00d-236c-4f60-92aa-a1205289bea3)'}">
          <div class="maintwo ion-text-center">
            <h2>
              <strong>
                รับติดตั้งบลาๆ
              </strong>
            </h2>
            <h4>
              ประโยคอะไรก็ได้
            </h4>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="parallax col-lg-12 col-md-12" [ngStyle]="{'background-image': 'url(https://firebasestorage.googleapis.com/v0/b/pbd-supply.appspot.com/o/works%2Fcat.JPG?alt=media&token=665831fb-0c04-462d-bf98-4372e00fa7fa)'}">
          <div class="mainthree ion-text-center">
            <h2>
              <strong>
                รับปรึกษาบลาๆหรืออื่นบลาๆ
              </strong>
            </h2>
            <h4>
              ประโยคอะไรก็ได้
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>