

<ion-content>
  <app-header></app-header>
  <div>
    <div class="home">
      <div class="row">
        <div class="parallax col-lg-6 col-md-12" [ngStyle]="{'background-image': 'url(https://firebasestorage.googleapis.com/v0/b/pbd-supply.appspot.com/o/works%2Fcat.JPG?alt=media&token=665831fb-0c04-462d-bf98-4372e00fa7fa)'}">
          
        </div>
        <div class="col-lg-6 col-md-12">
          ssssssssssssssssssssssssssssssssss
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-12">
          ssssssssssssssssssssssssssssssssss
        </div>
        <div class="parallax col-lg-6 col-md-12" [ngStyle]="{'background-image': 'url(https://firebasestorage.googleapis.com/v0/b/pbd-supply.appspot.com/o/works%2F96504295_266821237788014_3682693349740904448_n.jpg?alt=media&token=9f5af00d-236c-4f60-92aa-a1205289bea3)'}">
          
        </div>
      </div>
      <div class="row">
        <div class="parallax col-lg-6 col-md-12" [ngStyle]="{'background-image': 'url(https://firebasestorage.googleapis.com/v0/b/pbd-supply.appspot.com/o/works%2Fcat.JPG?alt=media&token=665831fb-0c04-462d-bf98-4372e00fa7fa)'}">
          
        </div>
        <div class="col-lg-6 col-md-12">
          ssssssssssssssssssssssssssssssssss
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</ion-content>