
.scroll {
  overflow: scroll;
}
.parallax {
  /* The image used */
  /* Full height */
  background-attachment: scroll;
  height: 100%; 
  @media only screen and (max-width: 768px) {
    display: block;
    height: 500px;
  }
  @media only screen and (min-width: 769px) {
    height: 1000px;
  }
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.maintext {
  color: white;
  @media only screen and (max-width: 768px) {
    padding-top: 250px;
  }
  @media only screen and (min-width: 769px) {
    padding-top: 500px;
  }
  animation: onefade 1s;
}

@keyframes onefade {
  from   {opacity: 0%;margin-top: 250px;}
  to {opacity: 100%;margin-top: 0px;}
}

.maintwo {
  color: white;
}

.mainthree {
  color: white;
}